%h1 Make your finance great again!

%p Here you can find a pritty and simple expenses tracker

= link_to 'Your expenses', expenses_path

= link_to 'Log in', new_user_session_path
= button_to 'Log out', destroy_user_session_path, method: :delete
